@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #222;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
}

#wrap{
  min-width: 1240px;
}

#header{
  width: 100%;
  min-width: 1240px;
  z-index: 100;
}

.header_topmenu{
  background-color: #e5e5e5;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.header_topmenu ul{
  display: flex;
  align-items: center;
  margin-right: 30px;
  text-align: center;
}

.header_topmenu ul li{
  margin-right: 30px;
  position: relative;
}

.header_topmenu ul li a{
  color: #555;
  font-size: 13px;
}

.header_topmenu ul li::after{
  display: inline-block;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #ccc;
  margin: 0 auto;
  position: absolute;
  top: 5px;
  right: -15px;
}

.header_topmenu ul li:last-child::after{
  display: none;
}

.header_in{
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_left .logo a{
  display: block;
  width: 100px;
  height: 80px;
  text-indent: -99999px;
  background-image: url(/public/images/header_logo.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 40px;
}

.header_left{
  display: flex;
  align-items: center;
}

.header_right{
  display: flex;
  align-items: center;
}

.gnb ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 950px;
}

.gnb li{
  margin-right: 40px;
  white-space: nowrap;
}

.gnb a{
  color: #222;
  font-size: 18px;
  font-weight: bold;
}

.gnb a:hover{
  color: #cf0a2c;
}

.gnb .launchcalendar{
  color: #cf0a2c;
}

.util{
  margin-right: -15px;
}

.util ul{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 60px;
}

.util ul li{
  margin-right: 10px;
}

.util ul li a{
  display: block;
  justify-content: center;
  width: 50px;
  height: 65px;
  background-size: auto;
  text-align: center;
  font-weight: bold;
}

.util ul .search a{
  background-image: url(/public/images/header_util.png);
  text-indent: -99999px;
  width: 50px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 10px center;
  margin-right: -15px;
}

.util ul .my_page a{
  background-image: url(/public/images/header_util.png);
  text-indent: -99999px;
  width: 40px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -45px center;
  position: relative;
  top: 0;
  left: 16px;
}

.util ul .login{
  position: relative;
}

.util ul .login::after{
  display: inline-block;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #999;
  margin-left: 50px;
  position: absolute;
  top: 30px;
  left: 10px;
}

.util ul .login a, .util ul .join a{
  text-align: center;
  font-size: 15px;
  width: 60px;
  height: 25px;
  margin-top: 25px;
  color: #222;
}

.util ul .login a:hover, .util ul .join a:hover{
  color: #cf0a2c;
}

.util ul .cart a{
  background-image: url(/public/images/header_util.png);
  text-indent: -99999px;
  width: 50px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -87px;
}

/* 헤더 끝 */

#container{
  width: 100%;
}

.row1{
  position: relative;
  overflow: hidden;
  width: 1800px;
  height: 800px;
  margin: 0 auto;
}

.swiper-slide{
  height: auto !important;
}

.swiper-slide video{
  width: 100% !important;
}

.swiper-button-prev{
  width: 50px;
  padding: 20px;
}

.swiper-button-next{
  width: 50px;
  padding: 20px;
}

.swiper-button-prev::after{
  color: #fff;
  font-size: 35px !important;
}

.swiper-button-next::after{
  color: #fff;
  font-size: 35px !important;
}

.swiper-pagination-bullet{
  background-color: transparent !important;
  padding: 2px;
  position: relative;
  bottom: 30px;
  border: 2px solid black;
  opacity: 1 !important;
}

.swiper-pagination-bullet:first-child{
  position: relative;
  left: -10px;
}

.swiper-pagination-bullet:nth-child(2){
  position: relative;
  left: 0px;
}

.swiper-pagination-bullet:last-child{
  position: relative;
  left: 10px;
}

.swiper-pagination-bullet-active{
  background-color: #111 !important;
  border: 2px solid #111;
}

