@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #222;
    overflow-x: hidden;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
}

#wrap{
  min-width: 1800px;
}

#header{
  width: 100%;
  min-width: 1240px;
  z-index: 100;
  position: fixed;
}

.header_topmenu{
  background-color: #e5e5e5;
  width: 100% auto;
  height: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.header_topmenu ul{
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-align: center;
}

.header_topmenu ul li{
  margin-right: 30px;
  position: relative;
}

.header_topmenu ul li a{
  color: #555;
  font-size: 13px;
}

.header_topmenu ul li::after{
  display: inline-block;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #ccc;
  margin: 0 auto;
  position: absolute;
  top: 5px;
  right: -15px;
}

.header_topmenu ul li:last-child::after{
  display: none;
}

.header_in{
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.header_left .logo a{
  display: block;
  width: 100px;
  height: 80px;
  text-indent: -99999px;
  background-image: url(/public/images/header_logo.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 35px;
}

.header_left{
  display: flex;
  align-items: center;
}

.header_right{
  display: flex;
  align-items: center;
}

.gnb{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
}

.gnb ul{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 40px;
}

.gnb li{
  margin-right: 40px;
  white-space: nowrap;
}

.gnb a{
  color: #222;
  font-size: 18px;
  font-weight: bold;
}

.gnb a:hover{
  color: #cf0a2c;
}

.gnb .launchcalendar{
  color: #cf0a2c;
}

.util{
  margin-right: -15px;
}

.util ul{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 50px;
}

.util ul li{
  margin-right: 10px;
}

.util ul li a{
  display: block;
  justify-content: center;
  width: 50px;
  height: 65px;
  text-align: center;
  font-weight: bold;
}

.util ul .search a{
  background-image: url(/public/images/header_util.png);
  text-indent: -99999px;
  width: 50px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 10px center;
  margin-right: -15px;
}

.util ul .my_page a{
  background-image: url(/public/images/header_util.png);
  text-indent: -99999px;
  width: 40px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -45px center;
  position: relative;
  top: 0;
  left: 16px;
}

.util ul .login{
  position: relative;
}

.util ul .login::after{
  display: inline-block;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #999;
  margin-left: 50px;
  position: absolute;
  top: 30px;
  left: 10px;
}

.util ul .login a, .util ul .join a{
  text-align: center;
  font-size: 15px;
  width: 60px;
  height: 25px;
  margin-top: 25px;
  color: #222;
}

.util ul .login a:hover, .util ul .join a:hover{
  color: #cf0a2c;
}

.util ul .cart a{
  background-image: url(/public/images/header_util.png);
  text-indent: -99999px;
  width: 50px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -87px;
}

/* 헤더 끝 */

#container{
  width: 100%;
}

.row1{
  position: relative;
  overflow: hidden;
  width: 1800px;
  height: 950px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 100px;
}

.swiper-slide p{
  background-color: #fff;
}

.swiper-slide img{
  width: auto !important;
  height: 835px !important;
  position: relative;
}

.swiper-slide video{
  width: 99.95%;
  height: auto !important;
}

.swiper-button-prev{
  width: 1px !important;
}

.swiper-button-next{
  width: 1px !important;
}

.swiper-button-prev::after{
  color: #fff;
  font-size: 35px !important;
  position: absolute;
  top: -100px;
  padding: 20px;
  margin-left: 50px;
}

.swiper-button-next::after{
  color: #fff;
  font-size: 35px !important;
  position: absolute;
  top: -100px;
  padding: 20px;
  margin-right: 50px;
}

.swiper-pagination-bullet{
  background-color: transparent !important;
  padding: 2px;
  position: relative;
  bottom: 190px;
  border: 2px solid black;
  opacity: 1 !important;
}

.swiper-pagination-bullet:first-child{
  position: relative;
  left: -10px;
}

.swiper-pagination-bullet:nth-child(2){
  position: relative;
  left: 0px;
}

.swiper-pagination-bullet:last-child{
  position: relative;
  left: 10px;
}

.swiper-pagination-bullet-active{
  background-color: #111 !important;
  border: 2px solid #111;
}

.title{
  margin: 0 auto;
  height: 50px;
  text-align: center;
  padding-top: 40px;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 40px;
  color: black;
  cursor: default;
}

.content{
  width: 100%;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  position: relative;
  bottom: 40px;
  right: 0;
  cursor: default;
}

.text_box{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 250px;
}

.submit_btn{
  font-size: 16px;
  margin: 7px;
  padding: 15px 10px;
  width: 140px;
  height: 48px;
  color: #222;
  border: 1px solid #777;
  border-radius: 5px;
  z-index: 10;
  cursor: pointer;
  text-align: center;
  line-height: 0px;
  background-color: #fff;
}

.submit_btn2{
  font-size: 16px;
  margin: 7px;
  padding: 15px 10px;
  width: 140px;
  height: 48px;
  color: #fff;
  border: 1px solid #141414;
  border-radius: 5px;
  z-index: 10;
  cursor: pointer;
  text-align: center;
  line-height: 0px;
  background-color: #141414;
}

.submit_btn2:hover{
  opacity: 0.9;
}

.row2{
  width: 1800px;
  height: 830px;
  margin: 0 auto;
  margin-bottom: 250px;
}

.row2 .text_box{
  position: relative;
  bottom: 10px;
}

.row3{
  width: 1800px;
  height: 830px;
  margin: 0 auto;
  padding-top: 220px;
  margin-bottom: 250px;
}

.row3 .text_box{
  position: relative;
  bottom: 10px;
}

.row4{
  width: 1800px;
  height: 620px;
  padding-top: 220px;
  margin: 0 auto;
  margin-bottom: 250px;
}

.title_box{
  display: flex;
  margin-bottom: 28px;
}

h3{
  font-size: 43px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 55px 28px 0;
}

.row4 ul{
  display: flex;
}

.row4 li{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 25px;
  color: #aeaeae;
  margin-left: 40px;
  cursor: pointer;
}

.row4 li:active{
  color: #141414;
}

.active{
  color: #141414 !important;
}

.row4 .swiper-container{
  height: 550px;
}

.row4 .swiper-slide{
  width: 421px !important;
}

.row4 .swiper-slide img{
  width: 421px !important;
  height: 421px !important;
}

.new_title{
  margin-top: 20px;
  font-size: 14px;
}

.new_title {
  font-size: 14px;
  color: #141414;
  font-family: Arial, Helvetica, sans-serif;
}
.new_price{
  font-size: 16px;
  color: #141414;
  font-weight: 800;
}

.swiper-scrollbar{
  width: 96.4% !important;
  height: 4px !important;
  position: absolute;
  left: 0 !important;
}

.swiper-scrollbar-drag{
  background-color: black !important;
}

.row5{
  width: 1800px;
  height: 830px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.row5 .nbnow{
  display: flex;
  justify-content: space-between;
}

.row5 img{
  width: 100%;
  height: 100%;
}

.row5 li{ 
  width: 565px;
}

.row5 .title5{
  font-size: 24px;
  margin-top: 30px;
  font-weight: 900;
}

.row5 .content5{
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.submit_btn5_1{
  font-size: 16px;
  margin-right: 7px;
  padding: 15px 10px;
  width: 120px;
  height: 38px;
  color: #222;
  border: 1px solid #777;
  border-radius: 5px;
  z-index: 10;
  cursor: pointer;
  text-align: center;
  line-height: 0px;
  background-color: #fff;
}

.submit_btn5_2{
  font-size: 16px;
  margin: 7px;
  padding: 15px 10px;
  width: 120px;
  height: 38px;
  color: #fff;
  border: 1px solid #141414;
  border-radius: 5px;
  z-index: 10;
  cursor: pointer;
  text-align: center;
  line-height: 0px;
  background-color: #141414;
}

.submit_btn5_2:hover{
  opacity: 0.9;
}

.row6{
  width: 1800px;
  height: 620px;
  padding-top: 210px;
  margin: 0 auto;
  margin-bottom: 250px;
}

.row6 ul{
  display: flex;
}

.row6 li{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 25px;
  color: #aeaeae;
  margin-left: 40px;
  cursor: pointer;
}

.row6 li:active{
  color: #141414;
}

.row6 .swiper-container{
  height: 550px;
}

.row6 .swiper-slide{
  width: 421px !important;
}

.row6 .swiper-slide img{
  width: 421px !important;
  height: 421px !important;
}

.best_title{
  margin-top: 20px;
  font-size: 14px;
}

.best_title {
  font-size: 14px;
  color: #141414;
  font-family: Arial, Helvetica, sans-serif;
}
.best_price{
  font-size: 16px;
  color: #141414;
  font-weight: 800;
}

.row7{
  width: 1800px;
  height: 830px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.row7 .showall{
  display: flex;
  justify-content: space-between;
}

.row7 img{
  width: 100%;
  height: 100%;
}

.row7 li{ 
  width: 565px;
}

.row7 .title7{
  font-size: 20px;
  margin-top: 30px;
  color: black;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
}

.row8{
  width: 1800px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.row8 .submit_btn{
  position: relative;
  bottom: 20px;
  margin-bottom: 200px;
}

/* 컨테이너 끝 */

#footer{
  min-width: 1200px;
  margin-top: 380px;
  width: 100%;
  height: 530px;
  background-color: #232323;
}

.footer_in{
  margin: 0 auto;
}

.footer_link{
  display: flex;
  justify-content: center;
  height: 130px;
}

.footer_link ul{
  min-width: 1200px;
  margin: 0 auto;
}

.footer_link li{
  padding-top: 50px;
  float: left;
  width: 300px;
}

.footer_link a{
  display: inline-block;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.footer_link a:hover{
  color: #cf0a2c;
}

.footer_link .link_content{
  font-size: 14px;
  color: #d3d3d3;
}

.footer_inner{
  width: 1200px;
  height: 330px;
  margin: 0 auto;
  padding-top: 70px;
  overflow: hidden;
}

.footer_left{
  float: left;
  overflow: hidden;
}

.footer_left li{
  float: left;
  margin-right: 80px;
  color: #fff;
}

.footer_left p{
  display: block;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 1;
}

.footer_left a{
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #bdbdbd;
  line-height: 1;
}

.footer_left a:hover{
  color: #cf0a2c;
}

.footer_right{
  float: right;
  width: 600px;
}

.footer_right .sns{
  height: 22px;
  margin-bottom: 17px;
  background-image: url(/public/images/footer_sns.png);
  background-repeat: no-repeat;
}

.footer_right .sns a{
  display: block;
  float: left;
  height: 22px;
}

.footer_right .sns a:first-child{
  width: 21px;
  margin-right: 30px;
}

.footer_right .sns a:nth-child(2){
  width: 21px;
  margin-right: 28px;
}

.footer_right .sns a:nth-child(3){
  width: 21px;
  margin-right: 28px;
}

.footer_right .sns a:nth-child(4){
  width: 20px;
  margin-right: 30px;
}

.footer_right .sns a:nth-child(5){
  width: 74px;
  margin-right: 31px;
  padding-left: 32px;
  color: #aeaeae;
  font-size: 10px;
  line-height: 17px;
}

.footer_right .sns a:nth-child(6){
  width: 42px;
  padding-left: 32px;
  color: #aeaeae;
  font-size: 10px;
  line-height: 17px;
}

.footer_right .info p{
  margin-top: 10px;
  color: #aeaeae;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.05em;
  white-space: nowrap;
  line-height: 1;
}

.footer_right .info a{
  color: #acacac;
}

.footer_right .info a:hover{
  color: #cf0a2c;
}

.footer_right .pi{
  font-weight: 700;
  color: #fff !important;
}

.footer_right .pi:hover{
  color: #cf0a2c !important;
}

.footer .info .email{
  color: #aeaeae;
}

.info .bic, .info .cpg{
  color: #fff !important;
  text-decoration: underline;
  text-underline-position: under;
}

.info .bic:hover, .info .cpg:hover{
  color: #cf0a2c !important;
}

.copyright {
  margin-top: 20px;
  color: #545454;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 푸터 끝 */